@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html{
    background-color:#fefefe
}
body{
    font-family:Open Sans,Arial;
    color:#454545;
    font-size:16px;
    line-height:1.4;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}
nav li.navleft{
    float:left;
    display:block;
    color:#fefefe;
    text-align:center;
    padding:14px 16px;
}
nav li.navright{
    float:right;
    display:block;
    color:#fefefe;
    text-align:center;
    padding:14px 16px;
}
nav li a{
    color:#fefefe;
    text-decoration:none;
}
nav li a:visited{
    color:#fefefe;
}
nav li a:hover{
    background-color:#111;
}
nav li.navleft:hover{
    background-color:#111;
}
#main{
    margin:2em auto;
    text-align:justify;
    margin:2em
    padding:1em;
}
a{
    color:#07a
}
a:visited{
    color:#941352
}

div.posts{
}
div.post{
    background-color:#f5f5f5;
    margin-bottom:1em;
    padding:0.5em;
}
ul.postlist{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li.postheader{
    float:left;
    display:block;
    text-align:center;
    padding-right: 0.5em;
}
p.postbody{
    background-color:#e1e1e1;
    padding:0.5em;
}
#user{
    font-style:italic;
}
